// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

/*Mixins*/
@mixin font-body() {
  font-family: 'Hind', sans-serif;
  font-weight: 400;
}

@mixin font-header() {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
